*.pyc
**/__pycache__/
**/__pycache__/*.pyc
/__pycache__/
/__pycache__/*.pyc
/ignore/
venv/
logs/
log/
*.json
*.sql
*.ddl
*.log
*.db
*.sqbpro
.env
.hintrc
dialeto.py
executor.py
parse.py
sql.py
table.py
utils.py
